#app {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    .versions {
        margin: 10px 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .version1,
        .version2 {
            padding: 30px 20px;
            border: 3px solid black;
            border-radius: 6px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .separator {
            width: 100px;
            height: 100px;
        }
    }
}
