$black: #263238;

#app {
    width: 900px;
    height: 660px;
    margin: auto;

    .header {
        height: 56px;
        padding: 16px 0;
        background: $black;

        &__name {
            font-family: Raleway;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.5px;
            color: #fff;
        }
    }

    .tools {
        &__tabs {
            height: 40px;
            background: #ffffff;
            box-shadow: 0px 4px 8px rgba(84, 110, 122, 0.24);
            display: flex;

            &-item {
                min-width: 92px;
                background-color: $black;
                border: 1px solid #ffffff;
                color: #fff;

                &_picked {
                    width: 118px;
                    background-color: #ffffff;
                    color: $black;
                    display: flex;

                    .first {
                        width: 50%;
                        height: 100%;
                        // &-svg {
                        //     width: 19px;
                        //     height: 14px;
                        // }
                    }
                }

                &-1 {
                    width: 106px;
                }
                &-2 {
                    width: 94px;
                }
                // &-3 {
                //     width:
                // }
            }
        }

        &__body {
        }
    }
}
